* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Tilt Warp', cursive;
    color: #fff;
    font-size: 2.5em;
    text-align: center;
}


main section {
    height: 30vw;
}

main section:nth-of-type(1) {
    background-color: #F4442E;
}

main section:nth-of-type(2) {
    background-color: #FC9E4F;
}

main section:nth-of-type(3) {
    background-color: #EDD382;
}

footer {
    background-color: #020122;
}

/* LAB 6 - START HERE */ 

    /* Step One - recreate the layout featured in the lab instructions using floats and clear 
        1.) use floats to align the section elements side by side */
         
        
        section {
            float:left; /* Q.1*/
            width:33.3%;/*Q.3 */
            min-height:100vh;/*step 2 */
            
            
        }
       
       footer {
        clear:both; /*Q.2 */
       }

       /* step 3- adding/using flex box  */
        
       section {
        display:flex;
        align-items:center; /*bonus-align text using flexbox */
        justify-content:center;
        /* padding-top:350px; bonus- attempted aligning text without using flexbox.*/
       }
       

        
    
    

    
    /* Bonus Challenge #1 Vertically align the text using flexbox - + 1 mark */
   
    

    /* Bonus Challenge #2 - vertically align the text without using flexbox - + 1 mark/ */
